html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
}

.container {
    max-width: 1070px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}