mixin chooseuscards(img,title,description)
    .chooseus__card
        .chooseus__card-img
            img(src= img)
        h3.chooseus__card-title= title
        p.chooseus__card-description= description