mixin practicecards(img,title,description)
    .practice__card
        h3.practice__card-title= title
        p.practice__card-description= description
        .practice__card-img
            img(src= img)