section.subscribe
    .subscribe__content.container
        .subscribe__partners
            a.subscribe__partners-link(href="#") 
                img.subscribe__partners-icon(src="./img/subscribe1.svg", alt="partnerlogo")
            a.subscribe__partners-link(href="#") 
                img.subscribe__partners-icon(src="./img/subscribe2.svg", alt="partnerlogo")
            a.subscribe__partners-link(href="#") 
                img.subscribe__partners-icon(src="./img/subscribe3.svg", alt="partnerlogo")
            a.subscribe__partners-link(href="#") 
                img.subscribe__partners-icon(src="./img/subscribe4.svg", alt="partnerlogo")
            a.subscribe__partners-link(href="#") 
                img.subscribe__partners-icon(src="./img/subscribe5.svg", alt="partnerlogo")
            a.subscribe__partners-link(href="#") 
                img.subscribe__partners-icon(src="./img/subscribe6.svg", alt="partnerlogo")
        .subscribe__menu
            h4.subscribe__form-title Subscribe For Latest Newsletter
            form.subscribe__form(action="")
                input.subscribe__form-input(type="email", name="email" placeholder="Your Email")
                button.subscribe__form-button(type="submit" name="subscribe__button") Subscribe
.subscribe__bg

