@import "components/reset.scss";
@import "components/variables.scss";
@import "components/mixins.scss";
@import "components/fonts.scss";
@import "components/base.scss";
@import "sections/header.scss";
@import "sections/main.scss";
@import "sections/footer.scss";