.hero {
    background-image:url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 104px;
    width: 100%;
    @media screen and (max-width:800px) {
        padding-top: 500px;
    }
    &__content {
        @media screen and (max-width:800px) {
            max-width: 416px;
        }
        
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width:800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__title {
        @include headtitle;
        color:$c-text-color;
        max-width: 539px;
        margin-bottom: 39px;
        @media screen and (max-width:800px) {
            max-width: 335px;
        }
    }
    &__description {
        @include subheading;
        color: $c-second-text;
        max-width: 376px;
        margin-bottom: 35px;
        @media screen and (max-width:800px) {
            max-width: 279px;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 80px;
    }
    &__button {
        color:$c-secondary;
        border: 1px solid #00A0C1;
        border-radius: 37px;
        padding: 10px 36px;
        @include button;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
            color: #fff;
            background: #FFA62B;
            border: 1px solid #FFA62B;
        }
    }
    &__cards {
        position: relative;
        top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width:800px) {
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__card {
        background: #fff;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        padding: 35px 40px;
        margin-right: 30px;
        max-width: 329px;
        transition: 0.5s;
        @media screen and (max-width:800px) {
            margin-right: 0px;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        &-img {
            margin-bottom: 10px;
        }
        &-title {
            @include cardtitle;
            color: $c-text-color;
            margin-bottom: 10px;
            
        }
        &-description {
            @include cardsubtitle;
            color:$c-second-text;
            
        }
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
            background: #00A0C1;
            .hero__card-title {
                color: #fff;
            }
            .hero__card-description {
                color: #fff;
            }
        }
    }
}