.service {
    background: #fafafa;
    padding-top: 100px;
    padding-bottom: 100px;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        @media screen and (max-width:800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width:800px) {
            text-align: center;
            
        }
    }
    &__title {
        @include titlesect;
        color: $c-text-color;
        margin-bottom: 10px;
        max-width: 480px;
        @media screen and (max-width:800px) {
            max-width: 324px;
        }
    }
    &__description {
        @include subtitlesect;
        color: $c-second-text;
        margin-bottom: 100px;
        max-width: 511px;
        @media screen and (max-width:800px) {
            max-width: 225px;
        }
    }
    &__card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width:800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-img {
            @media screen and (max-width:800px) {
                max-width: 333px;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
        }
        &-title {
            @include titlesect;
            color: $c-text-color;
            margin-bottom: 10px;
            max-width: 324px;
            text-align: start;
        }
        &-description {
            @include subtitlesect;
            color: $c-second-text;
            margin-bottom: 100px;
            max-width: 330px;
            text-align: start;
        }
        &-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-icon {
            text-align: start;
            padding-right: 20px;
            
        }
        &-fox {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: $c-text-color;
            max-width: 286px;
            margin-bottom: 5px;
        }
        &-things {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: $c-second-text;
        }

    }
}