footer.footer 
    .footer__content
        .footer__main-bg
            .footer__main.container
                .footer__main-info
                    h3.footer__title Consulting Agency For Your Business
                    p.footer__description the quick fox jumps over the lazy dog
                .footer__main-button 
                    a.footer__main-link(href="#") Contact Us
        .footer__menu-bg
            .footer__menu.container
                .footer__menu-content
                    h5.footer__menu-title Copmany Info
                    ul.footer__menu-items
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") About Us
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Carrier 
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") We are hiring 
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Blog
                .footer__menu-content
                    h5.footer__menu-title Legal
                    ul.footer__menu-items
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") About Us
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Carrier 
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") We are hiring 
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Blog
                .footer__menu-content
                    h5.footer__menu-title Features
                    ul.footer__menu-items
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Business Marketing
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") User Analytic
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Live Chat
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Unlimited Support
                .footer__menu-content
                    h5.footer__menu-title Copmany Info
                    ul.footer__menu-items
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") IOS & Android
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Watch a Demo 
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") Customers 
                        li.footer__menu-item 
                            a.footer__menu-link(href="#") API
                .footer__menu-content 
                    h5.footer__menu-title Get In Touch 
                    .footer__menu-links 
                        img.footer__menu-icon(src="./img/footer1.svg", alt="phone")
                        a.footer__menu-link(href="#") (480) 555-0103
                    .footer__menu-links 
                        img.footer__menu-icon(src="./img/footer2.svg", alt="phone")
                        a.footer__menu-link(href="#") 4517 Washington Ave.
                    .footer__menu-links 
                        img.footer__menu-icon(src="./img/footer3.svg", alt="phone")
                        a.footer__menu-link(href="#") debra.holt@example.com
        .footer__social-bg
            .footer__social-content.container
                h5.footer__social-info Made With Love By Figmaland All Right Reserved
                .footer__social-links
                    a.footer__social-link(href="#") 
                        img.footer__social-icon(src="./img/facebook.png", alt="facebook")
                    a.footer__social-link(href="#") 
                        img.footer__social-icon(src="./img/instagram.png", alt="inst")
                    a.footer__social-link(href="#") 
                        img.footer__social-icon(src="./img/twitter.png", alt="twitter")
                    a.footer__social-link(href="#") 
                        img.footer__social-icon(src="./img/youtube.png", alt="youtube")
                    
            



